body {
    /* font-family: 'Poppins', Poppins, 'montseratt'; */
    font-family: "Poppins", sans-serif;
}

.nav-link {
    color: #282964;
}

.bg-talkgreen {
    background: #69A71A;
}

.btn {
    border: 1px #0000001c solid;
    background: #F6F6F6;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 18px 15px;
}

.btn.select {
    background: rgba(138, 196, 64, 0.1);
    border: #6aa71a7e 2px solid;
    color: #69A71A;
}

.sect-selected>div {
    color: #0D80BA !important;
    border: none;
    font-weight: 700;
}

.blue-greed-gradient {
    background: rgb(13, 128, 186);
    background: linear-gradient(24deg, rgba(13, 128, 186, 1) 75%, rgba(138, 196, 64, 1) 100%);
}

.bg-bluelight-gradient {
    background: rgb(13, 128, 186);
    background: linear-gradient(24deg, rgba(13, 128, 186, 0.5018382352941176) 80%, rgba(138, 196, 64, 1) 100%);
}

.bg-circle-grad {
    background: rgb(13, 128, 186);
    background: linear-gradient(24deg, rgba(13, 128, 186, 0.6558998599439776) 20%, rgba(13, 128, 186, 0.6558998599439776) 57%, rgba(138, 196, 64, 0) 100%);
}

@media (min-width:640px) {


    .bg-bro {
        background-image: url(../images/landing-bro.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.sect-selected .sect {
    background: rgb(13, 128, 186);
    background: radial-gradient(circle, rgba(13, 128, 186, 0.2466561624649859) 16%, rgba(138, 196, 64, 0) 100%);
}


.bg-total-grad {
    background: rgb(13, 128, 186);
    background: linear-gradient(24deg, rgba(13, 128, 186, 1) 72%, rgba(138, 196, 64, 1) 100%);
}

.bg-setup-grad {
    background: rgb(138, 196, 64);
    background: linear-gradient(195deg, rgba(138, 196, 64, 0.20772058823529416) 0%, rgba(13, 128, 186, 1) 85%);
}

.bg-plan {
    background: rgb(138, 196, 64);
    background: linear-gradient(195deg, rgba(138, 196, 64, 1) 0%, rgba(13, 128, 186, 1) 43%);
}

.bg-ultraplan {
    background: rgb(13, 128, 186);
    background: -moz-linear-gradient(195deg, rgba(13, 128, 186, 1) 0%, rgba(138, 196, 64, 1) 100%);
    background: -webkit-linear-gradient(195deg, rgba(13, 128, 186, 1) 0%, rgba(138, 196, 64, 1) 100%);
    background: linear-gradient(195deg, rgba(13, 128, 186, 1) 0%, rgba(138, 196, 64, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d80ba", endColorstr="#8ac440", GradientType=1);
}


/* Rectangle 656 */

.bg-enteprise {
    background: linear-gradient(241.33deg, #0D80BA -11.33%, #69A71A 67.68%);
    border-radius: 14px 14px 0px 0px;
}

.bg-other {
    background: linear-gradient(241.33deg, #8AC440 -11.33%, #0D80BA 22.29%);
    border-radius: 14px 14px 0px 0px;


}

.bg-other-cirlce {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 22.4%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.22;
    border-radius: 12061.8px;
    transform: rotate(-87.92deg);
}

.select-faq {

    background: rgba(13, 128, 186, 0.06);
    border: 1px solid #0D80BA;
    border-radius: 6px;
}

.faq {
    padding-bottom: .2rem;
}

.blue-dot {

    background: #0D80BA;
}

.bg-overlay {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3337710084033614) 0%, rgba(13, 128, 186, 0) 100%);
}

.bg-card-blue {

    background: radial-gradient(80.82% 97.69% at 87.4% 81.63%, rgba(13, 128, 186, 0.56) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(13, 128, 186, 0.15);
    border-radius: 12px;
}

.bg-g-started {
    background: linear-gradient(83.03deg, #0D80BA 64.67%, #8AC440 102.34%);
    border-radius: 18px;
}

a {
    cursor: pointer;
}

.testimonial-left {
    margin-right: -2rem;
    margin-left: 2rem;
    /* margin-top: 4rem; */
}

.testimonial-right {
    margin-left: -2rem;
    margin-right: 2rem;
    /* margin-top: 4rem; */
}

.testimonial-left>div>div,
.testimonial-right>div>div {
    background-color: #FFFFFF;
}

.testimonial-center {
    margin-top: -4rem;
    transform: scale(122.29%);
    z-index: 40;
}

.testimonial-center>div>div {
    background-color: #0D80BA;

    z-index: 40;
}

.testimonial-center>div>div>p {
    color: #FFFFFF !important;
}

.dots {
    cursor: pointer;
}

.dot-selected {
    background: #111827 !important;
}



@media (max-width:640px) {
    body {
        align-items: center;
        justify-content: center;
    }


    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 8))
        }
    }

    .slider {
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: auto;

        .slide-track {
            animation: scroll 40s linear infinite;
            display: flex;
            width: calc(200px * 16);
        }

        .slide {
            width: 200px;
            display: flex;
            justify-content: center;
        }
    }

    .bg-setup-grad {

        background: linear-gradient(241.33deg, #8AC440 -11.33%, #0D80BA 22.29%);
        border-radius: 12px;
    }


    .dots {
        display: flex;
        padding: 10px 0;
        justify-content: center;
    }

    .dot {
        border: none;
        width: 10px;
        height: 10px;
        background: #c5c5c5;
        border-radius: 50%;
        margin: 0 5px;
        padding: 5px;
        cursor: pointer;
    }

    .dot:focus {
        outline: none;
    }

    .dot--active {
        background: #535353;
    }
}


[x-cloak] {
    display: none;
}

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #333;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}